body.show-title .chrome-options-title {
    display: inline-block !important;
}
img {
    max-width: 100%;
    height: auto;
}

.title-image {
    max-width: 50% !important;
    height: auto;
    -webkit-margin-after: -3em;
    -webkit-margin-before: 10px;
    -webkit-margin-start: 20px;
}

.chrome-bootstrap {
    color: #878A8D;
}

.chrome-bootstrap .frame {
    background: #1D252C;
}

.chrome-bootstrap .frame .navigation {
    background: #1D252C;
}

.chrome-bootstrap ul.menu li a {
    color: #878A8D;
}

.chrome-bootstrap ul.menu li a:hover {
    color: #fff;
}

.chrome-bootstrap a {
    color: #878A8D;
}

.chrome-bootstrap a:hover {
    color: #fff;
    text-decoration: underline;
}

.chrome-bootstrap h3 {
    display: -webkit-inline-box;
}

.chrome-bootstrap .save-container {
    background: #1D252C;
}

.chrome-bootstrap .save-container {
    background: #1D252C;
}
.chrome-bootstrap header h1 {
    background: #1D252C;
}

.material-icons {
    vertical-align: text-bottom;
    padding-bottom: 2px;
}